<section class="hero">
  <h1>欢迎来到我们的搬家公司</h1>
  <p>您值得信赖的搬家伙伴，提供专业、高效的搬家服务。</p>
  <a href="tel:+16462291189">
  <button>立即获取免费报价</button>
  </a>

</section>

<section class="services">
  <h2>我们的服务</h2>
  <ul>
    <li>本地搬家</li>
    <li>长途搬家</li>
    <li>包装服务</li>
    <li>仓储服务</li>
  </ul>
</section>

<section class="services">
  <h2>搬家流程</h2>
  <ol class="lined-list">
    <li>
      电话预约：安排专人负责接待客户电话预约，初步了解客户搬家日期、搬家路线和地址、是否需要提供紙箱，是否有贵重物品，如钢琴、钻石珠宝、保险柜等。
    </li>
    <li>
      电话报价：经电话预约咨询后，若需搬屋家具不多，则属于小型搬家，可利用电话报价，确定口头协议，如果搬屋的家具物品数量较多，可以免费上门估价。
    </li>
    <li>
      免费上门估价：需搬屋的家具物品数量较多，则属于大型搬家，我方备有业务员，免费上门估价，并提供搬家前所需要做好的准备和注意事项。
    </li>
    <li>
      提供纸箱：除免费赠送外，包装按成本价提供。搬家前，如客户需要提供紙箱、胶带等包裝材料，均按成本价提供。
    </li>
    <li>
      准时派车：根据家具物品数量，分派合适的车辆及搬家工人，再按客户所指定的吉日吉时，人车准时到达。
    </li>
    <li>
      定位服务：根据客户家具物品分类，顺序上车；抵达新居后，我们会作适当的建议如何摆放更合理，当然，以客户指定位置为准，定位摆放。
    </li>
    <li>
      安全平稳：保证物品的安全平稳，快捷、准时搬运抵达目的地。
    </li>
    <li>
      满意后才付费：搬屋完毕后，检查物品有无丢失及损坏现象，让客户满意才付费。
    </li>
    <li>
      损坏理赔：搬屋过程中如有不慎而导致家具或任何物品损坏，我方安排专人负责接洽，公平合理理赔事宜。
    </li>
    <li>
      永发搬家的宗旨：专业、敬业、高效、优质、快捷、诚实的精神，不断提高我们的服务品质，创造美好的生活！
    </li>
  </ol>
</section>


<section class="contact-brief">
  <a href="/contact">联系我们</a>
  <p>有任何疑问或需要报价，请随时联系我们！</p>
</section>